:root{
    --color-h2: rgb(106, 204, 158);
    --color-enlace: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E9E9E9;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;    
    min-height: 100vh;
}

/*-*-*-*ESTILOS DEL NAV Y CABECERA-*-*-*-*/


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.logo img{
    height: 80%;
}

header{
    position: sticky;
    top: 0;
    background-image: url('../assets/images/banner-1557881_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    z-index: 100;
    width: 100%;
}
nav{
    
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100px;
    z-index: 1000;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}

/* +*+*+*+*+*ESTILOS DE LETRA+*+*+*+*+*+*+* */

.protest{
    font-family: "Protest Revolution", serif;
    font-size: 35px;
    /* text-shadow: 3px 3px 3px #000000; */
} 

.estado{
    background-color: rgba(173, 216, 230, 0.384);
    padding: 5px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.links-navbar{
    display: flex;
    gap: 15px;
    align-items: center;
}
.submenu{
    position: relative;
}
.submenu .item-navbar img{
    height: 12px;
    margin-right: 7px;
}
.item-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.items-submenu{
    display: none;
    position: absolute;  
    top: 1;
    background-color: black;
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}
.submenu:hover .items-submenu{
    display: flex;
}
.item-submenu{
    color: #ffffff;
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-**-**-*-*-*-*--*-ESTILOS DEL MAIN*--*-*-**-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*/

main{
   margin-top: 60px;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 100vh;
    
}
.paddingTop200{
    padding-top: 150px;
}
.titulo{
    text-align: center;
    font-size: 50px;
    color: var(--color-h2);
    text-transform:uppercase;
    font-family: "Protest Revolution", serif;
}

/*+-+-+-+-+-+-+-+-+- Estilos de las Noticias +-+-+-+-+-+-+-+-+-+-*/

.container-news{
    
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0px 20px 0px 20px;
    /* padding: 40px; */
    border-radius: 15px;
}
.tarjeta{
    /* background-color: rgba(173, 216, 230, 0.384); */
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    border-radius: 15px;
    box-shadow: 0.05px 0.05px 5px 1px #000000,1px 1px 25px 10px rgba(173, 216, 230);
    position: relative;
    gap: 5px;
    overflow: auto;
    word-wrap: break-word;
    transition: transform 0.4s ease-in;
}
@media (max-width: 500px) {
    .caja {
        flex: 1 1 100%; 
    }
}

.tarjeta:hover{
    transform:scale(1.07);
}

.titleTarget{
    text-transform: uppercase;
    text-align: justify;
    font-size: 18px;
    padding: 15px;
}
.urlToImage{
    position: relative;
    top: 0;
    width:  100%;
    max-height: 350px;
    border-radius: 15px ;
}

.description{
    text-align: justify;
    padding: 5px;
    font-size: 15px;
}

.enlaceTarget{
    color: var(--color-enlace);
    font-size: 13px;
    /* position: absolute;
    bottom: 0; */
    margin-bottom: 3px;
}
.publishedAt{
    font-size: 10px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 10px 3px 0px; */
}

/*+-+-+-+-+-+-+-+-+- Estilos de las juegos +-+-+-+-+-+-+-+-+-+-*/

.container-games{
    
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 0px 20px 0px 20px;
    padding: 40px;
    border-radius: 15px;
}
.tarjetaGame{
    /* background-color: rgba(173, 216, 230, 0.384); */
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    align-items:center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    width: 100%;
    max-width: 600px;
    max-height: 800px;
    border-radius: 15px;
    box-shadow: 0.05px 0.05px 5px 1px #000000,1px 1px 25px 10px rgba(173, 216, 230);
    position: relative;
    gap: 5px;
    overflow: hidden;
    word-wrap: break-word;
    transition: transform 0.4s ease-in;
}
@media (max-width: 500px) {
    .caja {
        flex: 1 1 100%; 
    }
}

.tarjetaGame:hover{
    transform:scale(1.07);
}

.gradientText{
    background-image: linear-gradient(to right, rgb(0, 255, 221), rgb(82, 155, 223), rgb(158, 69, 231)); 
    -webkit-background-clip: text;
    color: transparent;
}

.titleTarget{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}
.urlToImageGame{
    position: relative;
    top: 0;
    width:  100%;
    max-width: 80vh;
    max-height: 350px;
    border-radius: 15px ;
}

.enlaceTarget{
    font-size: 13px;
    position: relative;
    bottom: 5px;
}
.publishedAt{
    font-size: 10px;
    position: relative;
    left: 230px;
    bottom: 5px;
    margin: 0px 10px 3px 0px;
}


/*+-+-+-+-+-+-+-+-+- Estilos de la galeria +-+-+-+-+-+-+-+-+-+-*/


.galeria{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.containerImagen{
    display: flex;
    overflow: hidden; 
    box-sizing: border-box; 
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease;
    border-radius: 0.7rem;  
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.imagen{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 0.7rem;  
    object-fit: contain;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

.containerImagen:hover {
    transform:scale(1.1 );
}


/*+-+-+-+-+-+-+-+-+- Estilos del formulario +-+-+-+-+-+-+-+-+-+-*/

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 40px;
  border-radius: 15px;
}
.datosContacto{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  margin: 0 auto;
  background-color: rgba(173, 216, 230, 0.384);
  padding: 40px;
  border-radius:0 8rem 0 8rem ;
}

.datosContacto fieldset{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    border: none;
    margin: 0 auto;
    width: 100%;
}

.datosContacto fieldset input{
    border: none;
    background-color: rgba(173, 216, 230, 0.01);
    border-bottom: 1px solid black;
    padding: 5px;
}
.presupuesto{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    gap: 15px;
    margin: 0 auto;
    background-color: rgba(173, 216, 230, 0.384);
    padding: 40px;
    border-radius: 8rem 0 8rem 0;
  }
.presupuesto fieldset{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    border: none;
    margin: 0 auto;
    width: 100%;
}

.presupuesto fieldset #extras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.valido{
    border-bottom: green;
}

.invalido{
    border-bottom: red;
}

.error{
    color: red;
}

.botones{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}
#reset{
    border: none;
    padding: 15px;
    font-size: 18px;
    font-style: oblique;
    box-shadow: 7px 7px 1px rgba(0,0,0);
    background-color: rgba(173, 216, 230, 0.384);
    border-radius: 5px;
}
#reset:hover{
    background-color: rgba(0,0,0);
    box-shadow: 7px 7px 1px rgba(173, 216, 230, 0.384);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
#enviar{
  padding: 15px;
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  width: 300px;
  border: none;
  font-style: oblique;
  box-shadow: 7px 7px 1px rgba(0,0,0);
  background-color: rgba(173, 216, 230, 0.384);
  border-radius: 5px;
}
#enviar:hover{
    background-color: rgba(0,0,0);
    box-shadow: 7px 7px 1px rgba(173, 216, 230, 0.384);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.terminos{
    font-weight: bold;
    font-style: oblique;
    cursor: pointer;
    color: #000000;
    
}


/* -**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
-*-*-*-*-*-*-*-*-*-ESTILOS DE LA PAGINA DE CONTACTO*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*--*-*-*-*-*--*-*-*-*/

#map{
    height: 50vh;
    width: 60%;
    max-width: 460px;
    max-height: 440px;
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0.05px 0.05px 5px 1px #000000,1px 1px 25px 10px rgba(173, 216, 230);
}
.container-contacto{
    display: flex;
    justify-content: center;
    /* align-items:center; */
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    margin-top: 30px;
    gap: 30px;
    margin-top: 85px;
    margin-bottom: 85px;
}
    
/**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-**-*-*-*-*-*-*-*-*-*FOOTER-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

footer{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px;
    
}
.container-iconRedes{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.iconRedes{
    height: 40px;
    
}
