<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Obligatorio Javascript</title>

<!-- LINKS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
    <link rel="icon" href="../assets/images/folder-svgrepo-com.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/misEstilos.css">
    <link rel="stylesheet" href="../css/lightbox.css">

<!-- RECORDAR: Colocar el archivo minificado (.min).!!!!! -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
        ⁡⁣⁢⁣<!-- este es el h1 y logo -->⁡
            <div class="logo">
                <img src="../assets/images/folder-svgrepo-com.svg" alt="logo">
                <h1 class="protest">Hans Klemm</h1>
            </div>
        ⁡⁢⁣⁢<!-- este es el navbar -->⁡
            <div class="links-navbar" id="links-navbar">

                <div class="submenu">
                    <a href="/index.html" class="item-navbar">
                        <img src="../assets/images/archive-down-minimlistic-svgrepo-com(1).svg" alt="">
                        Inicio
                    </a>  
                    <div class="items-submenu">
                        <a href="#games" class="item-submenu"><b>Juegos</b></a>
                        <a href="#photos" class="item-submenu"><b>Fotografias</b></a>
                        <a href="#videos" class="item-submenu"><b>Videos</b></a>
                    </div>
                </div>
                <a href="galeria.html" class="item-navbar">Galeria</a>
                <a href="#" class="item-navbar estado">Presupuesto</a>
                <a href="#contacto" class="item-navbar">Contacto</a>
            </div>
        </nav>

    </header>

    <main>
        <h2 class="titulo">Términos y condiciones del sitio web</h2>
        <br>
        <section class="section">
            <br>
            <h3>ACEPTACIÓN DE LAS CONDICIONES</h3>
            <br>
            <p>Los presentes Términos y Condiciones constituyen un acuerdo legalmente vinculante celebrado entre usted, ya sea personalmente o en nombre de una entidad ("usted") y [nombre de la entidad comercial] ("nosotros", "nos" o "nuestro"), en relación con su acceso y uso del sitio web [nombre del sitio web.com], así como de cualquier otro medio de comunicación, canal de medios, sitio web para móviles o aplicación para móviles relacionada, vinculada o conectada de cualquier otro modo al mismo (colectivamente, el "Sitio").
            <br>
            <br>
            Usted acepta que, al acceder al Sitio, ha leído, comprendido y aceptado todos estos Términos y Condiciones. Si no está de acuerdo con todos estos Términos y Condiciones, se le prohíbe expresamente utilizar el Sitio y debe interrumpir su uso inmediatamente.
            <br>
            <br>    
            Los términos y condiciones o documentos complementarios que puedan publicarse en el Sitio de vez en cuando se incorporan expresamente en el presente documento por referencia. Nos reservamos el derecho, a nuestra entera discreción, de realizar cambios o modificaciones a estos Términos y Condiciones en cualquier momento y por cualquier motivo.
            <br>
            <br>    
            Le avisaremos de cualquier cambio actualizando la fecha de "Última actualización" de estos Términos y Condiciones, y usted renuncia a cualquier derecho a recibir notificación específica de cada uno de dichos cambios.</p>
        </section>
    </main>

    <footer>
        <p>Todos los derechos reservados Copyright 2024</p>
        <div class="container-iconRedes">

            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/facebook-color-svgrepo-com.svg" alt="" class="iconRedes">
            </a>
            
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/instagram-1-svgrepo-com(1).svg" alt="" class="iconRedes">
            </a>

            <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/images/youtube-svgrepo-com.svg" alt="" class="iconRedes">
            </a>
        </div>
    </footer>
    
    <script src="../js/lightbox-plus-jquery.js"></script>
    <script src="../js/misScripts.js"></script>

</body>
</html>